.spicy {
  padding-top: var(--hero-padding-top);
  padding-bottom: var(--hero-padding-bottom);
}

.even_container {
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}
